.game-area{
    box-sizing: border-box;
    position: relative;
    margin: 0px auto;
    width: 340px;
    height:270px;
    border:20px solid black;
    border-radius: 15px;
  }
  
  .snake-dot{
    position: absolute;
    height: 4%;
    width: 4%;
    background-color: black;
    border: 1px solid white;
    z-index: 2;
  }
  .snake-food{
    position: absolute;
    height: 4%;
    width: 4%;
    background-color: rgb(255, 0, 0);
    border: 1px solid white;
    z-index: 1;
  }